
@{
    ViewBag.Title = "Index";
}
<style>
    .caliz {
        color: #ffffff;
        margin-right: 5px;
        font-size: 18px;
        font-weight: 600;
        position: absolute;
        left: 0;
        top: 0;
    }
    }
</style>
<section class="credit-card-area bg-ffffff">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-12">
                <div class="credit-card-content">
                    <span>Bienvenido @Session["name"].ToString()  @Session["lastname"].ToString()</span>
                    <h3>Plan de servicio de internet de @Session["service_name"].ToString() velocidad</h3>
                    <p>Te mostramos los últimos detalles de tu servicio de internet </p>

                    <ul class="credit-card-features">
                        <li>
                            <i class="fa-solid fa-circle-dollar-to-slot caliz"></i> Saldo
                        </li>
                        <li style="font-weight:bold;">
                            <i class="flaticon-checkmark"></i> $@Session["accountBalance"].ToString()
                        </li>

                        <li>
                            <i class="fa-solid fa-tower-broadcast caliz"></i> Estado del servicio
                        </li>
                        @if (Session["status"].ToString() == "1")
                        {
                            <li style="font-weight:bold;">
                                <i class="flaticon-checkmark"></i> Activo
                            </li>
                        }
                        else if (Session["status"].ToString() == "3")
                        {
                            <li style="font-weight:bold;">
                                <i class="flaticon-checkmark"></i> Suspendido
                            </li>
                        }
                        else {
                            <li style="font-weight:bold;">
                                <i class="flaticon-checkmark"></i> Error al consultar
                            </li>
                        }


                        <li>
                            <i class="fa-solid fa-headset caliz"></i> Velocidad de subida
                        </li>
                        <li style="font-weight:bold;">
                            <i class="flaticon-checkmark"></i> @Session["uploadSpeed"].ToString() Mbps
                        </li>
                        <li>
                            <i class="fa-regular fa-calendar-xmark caliz"></i> Siguiente fecha para pago
                        </li>
                        <li style="font-weight:bold;">
                            <i class="flaticon-checkmark"></i> @Session["nextInvoicingDay"].ToString()
                        </li>
                        <li>
                            <i class="fa-solid fa-toolbox caliz"></i> Siguiente monto a pagar
                        </li>
                        <li style="font-weight:bold;">
                            <i class="flaticon-checkmark"></i> $@Session["nextInvoicePrice"].ToString()
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-5 col-12">
               
                <div class="credit-card-image-slider owl-carousel owl-theme owl-loaded owl-drag">


            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item cloned">
                        <div class="credit-card-image">
                            <img src="~/Content/antena.svg" />
                        </div>
                    </div><div class="owl-item cloned" >
                              <div class="credit-card-image">
                                  <img src="~/Content/marks.svg" style="margin-top:20%;"/>
                              </div>
                    </div><div class="owl-item">
                              <div class="credit-card-image">
                                  <img src="~/Content/services.svg" style="margin-top:20%;"/>
                              </div>
                    </div><div class="owl-item active">
                              <div class="credit-card-image">
                                  <img src="~/Content/speedtest.svg" style="margin-top:20%;"/>
                              </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</section>